.sign-up-button {
  background-color: #1d9bf0;
  color: white;
}

.sign-up-button:hover {
  color: white;
  background-color: #1b7ab9;
}
.sign-in-link {
  text-decoration: none;
}
.row-rounded {
  overflow: hidden;
}
.bg-hi-welcome {
  background-color: #28384d;
}

.profile-body {
  border-left: 1px solid #2e3f4f;
  border-right: 1px solid #2e3f4f;
}
