body {
  background-color: #15202b;
}

a.link-navbar {
  color: white;
  text-decoration: none;
}

.trending {
  background-color: #1e2732;
}

.sidebarSticky{
  position: sticky;
  top: 0px;
}

.trendingSticky{
  position: sticky;
  top: 0px;
}



.trendingWidth {
  min-width: 400px;
}

@media only screen and (min-width: 768px) {

}

.homeBody{
  max-width: 600px;
  min-width: 600px;
}