body {
  background-color: #15202b;
}

a.link-navbar {
  color: white;
  text-decoration: none;
}

.trending {
  background-color: #1e2732;
}

.sidebarSticky{
  position: sticky;
  top: 0px;
}

.trendingSticky{
  position: sticky;
  top: 0px;
}

.homeBody{
  max-width: 600px;
  width: 100%;
}

.trendingWidth {
  min-width: 400px;
}

.inputTweet:focus-visible{
  outline: none;
}